*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-font: "Roboto", sans-serif;

  --primary-color: #EA5D60;

  --type-bug: #8CB230;
  --type-dark: #58575F;
  --type-dragon: #0F6AC0;
  --type-electric: #EED535;
  --type-fairy: #ED6EC7;
  --type-fighting: #D04164;
  --type-fire: #FD7D24;
  --type-flying: #748FC9;
  --type-ghost: #556AAE;
  --type-grass: #62B957;
  --type-ground: #DD7748;
  --type-ice: #61CEC0;
  --type-normal: #9DA0AA;
  --type-poison: #A552CC;
  --type-psychic: #EA5D60;
  --type-rock: #BAAB82;
  --type-steel: #417D9A;
  --type-water: #4A90DA;

  --background-type-bug: 106, 54%, 65%;
  --background-type-dark: 248, 4%, 45%;
  --background-type-dragon: 226, 33%, 59%;
  --background-type-electric: 45, 86%, 64%;
  --background-type-fairy: 336, 63%, 79%;
  --background-type-fighting: 345, 80%, 60%;
  --background-type-fire: 29, 100%, 67%;
  --background-type-flying: 221, 63%, 70%;
  --background-type-ghost: 256, 37%, 59%;
  --background-type-grass: 119, 29%, 64%;
  --background-type-ground: 19, 92%, 64%;
  --background-type-ice: 185, 55%, 72%;
  --background-type-normal: 225, 12%, 74%;
  --background-type-poison: 310, 20%, 53%;
  --background-type-psychic: 359, 100%, 70%;
  --background-type-rock: 43, 42%, 71%;
  --background-type-steel: 200, 40%, 50%;
  --background-type-water: 208, 90%, 65%;

  --background-main: #fff;
  --background-default-input: #f2f2f2;
  --background-pressed-input: #e2e2e2;
  --background-modal: #17171b50;

  --gradient-vector: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
  --gradient-pokeball: linear-gradient(180deg, #F5F5F5 50%, #FFFFFF 94.81%);
  --gradient-vector-grey: linear-gradient(100.59deg, #E5E5E5 0%, rgba(245, 245, 245, 0) 100%);
  --gradient-pokeball-grey: linear-gradient(135deg, #ECECEC 0%, #F5F5F5 100%);
  --gradient-vector-white: linear-gradient(100.84deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
  --gradient-pokeball-white: linear-gradient(135deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  --gradient-name: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 76.04%);
  --gradient-pokemon-circle: linear-gradient(334.58deg, rgba(255, 255, 255, 0.35) 16.24%, rgba(255, 255, 255, 0) 44.6%);

  --text-white: #fff;
  --text-black: #17171b;
  --text-grey: #747476;
  --text-number: hsla(240, 8%, 10%, 0.6);

  --height-short: #ffc5e6;
  --height-medium: #aebfd7;
  --height-tall: #aaacb8;

  --weight-light: #99cd7c;
  --weight-normal: #57b2dc;
  --weight-heavy: #5a92a5;
}

body {
  background-color: var(--background-main);
  margin: 0;
  font-family: var(--main-font);
}

.app {
  padding: 2.625rem 1rem 0 1rem;
  background-image: url(./assets/pokeball-1.png);
  background-repeat: no-repeat;
  background-size: 25.875rem;
  background-position: top;
}

@media (min-width: 25rem) {
  .app {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.app__title {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

.app__pokemon-species-list {
  margin: 2.8125rem 0 0 0;
}

.pokemon-species-list {
  padding: 0;
  list-style: none;
  display: grid;
  gap: 1.875rem;
  grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
}

.pokemon-species-card {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 1.25rem;
  border-radius: 10px;
  background-image: url('./assets/dots-1.svg'), url('./assets/pokeball-2.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: 5.625rem 0.3125rem, right 0;
}

.pokemon-species-card::after {
  content: "";
  display: block;
  position: absolute;
  width: 88%;
  height: 5.6875rem;
  z-index: -1;
}

$types: bug,
  dark,
  dragon,
  electric,
  fairy,
  fighting,
  fire,
  flying,
  ghost,
  grass,
  ground,
  ice,
  normal,
  poison,
  psychic,
  rock,
  steel,
  water;

@each $type in $types {
  .pokemon-species-card--#{$type} {
    background-color: hsl(var(--background-type-#{$type}))
  }

  .pokemon-species-card--#{$type}::after {
    box-shadow: 0px 10px 20px 0px hsla(var(--background-type-#{$type}), 0.4);
  }
}

.pokemon-species-card__entry-number {
  color: var(--text-number);
  font-weight: 700;
  font-size: 0.75rem;
  margin: 0;
}

.pokemon-species-card__name {
  font-weight: 700;
  color: var(--text-white);
  font-size: 1.625rem;
  margin: 0;
}

.pokemon-species-card__name {
  text-transform: capitalize;
}

.pokemon-species-card__types {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.3125rem;
  color: var(--text-white);
  text-transform: capitalize;
}

.pokemon-species-card__image {
  width: 100%;
  position: absolute;
  left: 0.625rem;
  bottom: -0.625rem;
}

.pokemon-species-card__image-container {
  position: relative;
  flex-shrink: 1;
  width: 8.125rem;
}

.type-badge {
  padding: 0 0.3125rem;
  border-radius: 3px;
  display: flex;
  align-items: center;
  font-size: 0.75rem;
}

@each $type in $types {
  .type-badge--#{$type} {
    background-color: var(--type-#{$type});
  }
}

.type-badge__icon {
  fill: var(--text-white);
  width: 0.875rem;
  margin-right: 0.375rem;
}